.navbar {
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  height: 30px;
  padding: 5px 20px;
  color: gray;
  background-color: black;
}

.navbar li {
  margin: 0 5px;

  font-size: .8em;
}

.navbar ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.navbar-ul-end {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.navbar-sticky {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 20px;
  color: gray;
  background-color: whitesmoke;
  box-shadow: 0 20px 32px lightgray;
}

.navbar-sticky ul {
  display: flex;
  flex-flow: row nowrap;
}

.navbar-sticky li {
  display: none;
  margin-right: 1em;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
}

.navbar-sticky-img {
  position: relative;
  top: 0;
  right: -10px;
  width: 40px;
  height: 40px;
  border-left: 2px solid lightgray;
}

.navbar-sticky-img img {
  position: absolute;
  top: 50%;
  left: 50%;
}

article {
    display: block;
}

.cover-story {
    float: left;
    overflow: hidden;
    padding: 4px;
    position: relative;
    width: 100%;
}

*, :after, :before {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    outline: none;
    text-rendering: optimizeLegibility;
}

.cover-image, .cover-trigger {
    bottom: 4px;
    left: 4px;
    position: absolute;
    top: 4px;
    right: 4px;
}

.cover-image {
    background-color: #000;
    background-size: cover;
    background-position: 50%;
    z-index: 1;
}

.cover-header {
    bottom: 4px;
    left: 4px;
    padding: 14px 12px;

    right: 4px;
    z-index: 3;
}

.cover-title{

    
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    
}

.cover .distraction-title, .cover h2 {
    margin-bottom: .25em;
}

.story--smallMobile {
    min-height: 72px;
    padding-left: 88px;
    position: relative;
}
.u-col-xs-12 {
    flex-basis: 100%;
    max-width: 100%;
}

.u-col-, .u-col- {
    flex: 0 0 auto;
    padding: 8px;
    position: relative;
}

 h2 {
    color: #f42;
    font-weight: 700;
    line-height: 1.1;
}
.story-title h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.story-byline {
    color: #aaa;
    font-size: 12px;
    line-height: 18px;
    padding-top: 4px;
}

.story-byline li {
    display: block;
    float: left;
}

 a {
    color: black;
    text-decoration: none;
}